/* features */

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.features-item {
  flex-basis: calc(100% / 4 - 30px);
}
.features-item:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.features-item-rectangle {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: var(--features-item-rectangle-background);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
