/* PORTFOLIO */

.portfolio {
  display: block;
}

/* FILTER BTN */

.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -8px;
  /* margin-bottom: -8px; */
  min-width: 611px;
}

.filter-item {
  display: inline-flex;
  margin-right: 8px;
  /* margin-bottom: 8px; */
}

.filter-btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
  background-color: var(--filter-btn-background);
  padding: 6px 22px;
  border-radius: var(--btn-border-radius);

  transition: background-color var(--time) var(--function-cubic),
    color var(--time) var(--function-cubic), box-shadow var(--time) var(--function-cubic);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  box-shadow: var(--btn-box-shadow);
}

/* GALLERY */

.work-examples-list {
  display: flex;

  flex-wrap: wrap;
  margin-top: 50px;
  margin-right: -30px;
  margin-bottom: -30px;
}

.examples-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.examples-list-link {
  display: block;
  transition: box-shadow var(--time) var(--function-cubic);
}

.examples-list-link:focus,
.examples-list-link:hover {
  box-shadow: var(--examples-list-link-shadow);
}

.examples-list-link:focus .card-top-text,
.examples-list-link:hover .card-top-text {
  transform: translateY(0);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-top-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--white);
  background-color: var(--card-top-text-background);
  position: absolute;
  transform: translateY(101%);
  transition: transform var(--time) var(--function-cubic);
  /* overflow: auto; */
}

.card-content {
  padding: 20px 24px;
  border: 1px solid var(--card-content-border);
  background: var(--white);
}

.examples-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.examples-item-text {
  color: var(--body-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
